*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1em;
  background-color: #444444;
  color: #fefefe;
}

button {
  background-color: #444444;
  color: #fefefe;
  cursor: pointer;
  border: 1px solid orange;
}

button:hover {
  background-color: #fefefe;
  color: #444444;
}